<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.role.mapper.SysPermissionMapper">
    <sql id="SysPermissionReturns">
        id,url,name,pid,order_num orderNum, status,create_time createTime, update_time updateTime
    </sql>
    <select id="findAll" resultType="SysPermission">
        select<include refid="SysPermissionReturns"/>from sys_permission
    </select>
    <select id="findById" resultType="SysPermission" parameterType="java.lang.Integer">
        select<include refid="SysPermissionReturns"/>from sys_permission where id=#{id}
    </select>
    <insert id="insert" parameterType="SysPermission">
        insert into sys_permission(url,name,pid,order_num,status,create_time,update_time) values
        (#{url},#{name},#{pid},#{orderNum},#{status},now(),now());
    </insert>
    <update id="update" parameterType="SysPermission">
        update sys_permission set url = #{url},name = #{name},pid = #{pid},order_num = #{orderNum},status =
        #{status},create_time = #{createTime},update_time = now() where id=#{id};
    </update>
    <delete id="delete" parameterType="java.lang.Integer"
    >delete from sys_permission where id=#{id};
    </delete>
</mapper>